:root {

  --text: #d4d2cc;
  --text-h: #f3f4f6;
  --text-secondary: #9498a3;
  --bg: #13151a;
  --bg-hover: #0b0b0f;
  --border: #3a4150;
  --card-bg: #242832;
  --card-bg2: #1a1d24;

  --shadow:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;


  --primary: #353b48;
  --primary-hover: #242832;
  --primary-active: #668396;

  --secondary: #f5f6fa;
  --tetriary: #c8d6e5;
  --quadriary: #84817a;



  --red: #a33b3b;
  --red-opaque: rgba(183, 21, 64, 0.795);
  --gold: #c9a15e;
  --gold-hover: #a1824b;
  --green: #6b9a5f;
  --black: #5c5568;
  --blue: #5b8ca3;
  --white: #d8d3c4;


  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}


*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;

  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;

  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.app {
  min-height: 100dvh;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
}