.stats-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.stats-header {
    width: 100%;
    height: 14vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.stats-header-title {
    font-size: 36px;
    padding-left: 18px;
    padding-top: 36px;
    height: 80%;
}

.stats-header-subtitle {
    padding-left: 23px;
    font-size: 24px;
    height: 100%;
    color: #ccae62;
    font-weight: 200
}

.stats-body {
    width: 100%;
    height: 100%;
    display: flex;
}

.stats-body>.right,
.stats-body>.left {
    height: 100%;
    width: 50%;
    padding: 18px;
    padding-right: 24px;
}

.stats-card {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.stats-card-children {
    height: 100%;
    width: 100%;
    font-size: clamp(24px, 6vw, 48px);
    text-align: start;
    margin-top: 24px;
    font-weight: 600;

}

.stats-card-title {
    padding-top: 4px;
    padding-bottom: 8px;
    font-style: oblique;
    text-align: start;
    font-size: clamp(12px, 2vw, 24px);
    color: var(--text-secondary)
}

.win-loss-draw-wrapper {
    display: flex;
    width: 35%;
    justify-content: space-between;
}

.win-loss-draw-container {
    background-color: var(--primary);
    font-size: 24px;
    height: 100%;
    width: 100%;
    margin-right: 3px;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
}

.win-loss-draw-container.win {
    background-color: var(--gold);
    color: var(--text);
}

.win-loss-draw-container.draw {
    background-color: var(--quadriary);
    color: var(--text);
    font-size: clamp(12px, 2vw, 24px);
    ;
}

.tick {
    width: 75%;
    height: 1px;
    border: 1.5px solid var(--quadriary);
    opacity: 0.65;
}


.win-streak {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.last-ten-games {
    display: flex;
    gap: 6px
}

.last-ten-games>div {
    width: 16px;
    height: 16px;
    background-color: var(--quadriary);
    border-radius: 50%;
}

.last-ten-games>div.win {
    background-color: var(--green);
}

.last-ten-games>div.loss {
    background-color: var(--red);
}


/* mobile styles */
@media (max-width: 600px) {}










.commander-stats-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.commander-stats-header {
    width: 100%;
    height: 35%;
    padding-top: 54px;
    display: flex;
}


.commander-stats-portrait {
    height: 100%;

}

.commander-stats-portrait>div {
    height: 100%;
    padding: 0 36px;
    padding-right: 12px;
    display: flex;
    align-items: center;
}

.commander-stats-portrait>div>div {
    height: 100%;
    aspect-ratio: 1 / 1;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 12px;
    box-sizing: border-box;

    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

.commander-stats-name {
    width: 55%;
    height: 100%;
    text-align: start;
    padding: 12px;
    padding-right: 24px;
    font-size: 36px;
    font-weight: 500;
    line-height: 40px;
    font-style: oblique;
}



.winrate-bar-wrapper {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    padding-top: 12px
}

.winrate-bar {
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 36px;
}

.winrate-bar>div {
    width: 96%;
    height: 80%;
    border: 1px solid var(--border);
    border-radius: 12px;
    display: flex;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

.winrate-bar>div>div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    color: white;
    position: relative;
    font-weight: 400;
    font-size: 15px
}

.winrate-bar>div>div>span {
    position: absolute;
    top: 104%;
    left: 0;

}

.winrate-bar>div>div:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: var(--green);
    color: var(--green);
}

.winrate-bar>div>div:nth-child(2) {
    background-color: var(--red);
    color: var(--red);
}

.winrate-bar-last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.winrate-bar-first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.winrate-bar>div>div:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: var(--quadriary);
    color: var(--quadriary)
}


.winrate-stats {
    width: 100%;
    height: 35%;
}






.commander-stats-body {
    width: 100%;
    height: 38%;
    display: flex;
    flex-direction: column;
    padding: 12px;

}

.commander-stats-body>div {
    width: 100%;
    height: 100%;
    display: flex;
}

.commander-stats-body>div>div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.commander-stats-card-children {
    font-size: 36px;
}

.commander-stats-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
    gap: 16px;
    padding: 8px;
    font-size: 18px;

}

.commander-stats-card-title {
    font-size: clamp(12px, 2vw, 24px);
    color: var(--text-secondary);
    font-style: oblique;
}

.commander-stats-card-children {
    font-size: clamp(12px, 8vw, 48px);
    width: 100%;
    height: 100%;
    padding-top: 4px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.commander-stats-last-ten {
    width: 100%;
    height: 12%;
    padding-left: 16px;
}

.vertical-tick {
    margin: 8px;
    height: 60%;
    border: 1.5px solid var(--quadriary);
}

.delta-up {
    color: var(--green);
    font-size: 36px;
}

.delta-down {
    color: var(--red);
}


/* mobile styles */
@media (max-width: 600px) {

    .commander-stats-header {
        height: 30%;
    }

    .commander-stats-portrait {
        height: 100%;
        width: 50%;

    }

    .commander-stats-portrait>div {
        padding-left: 18px;
        min-width: 0;
    }

    .commander-stats-portrait>div>div {
        flex-shrink: 1;
        min-width: 0;
    }


    .commander-stats-name {
        width: 100%;
        padding: 0px;
        padding-right: 0px;
        font-size: 30px;
        font-weight: 450;

    }

    .winrate-bar {
        width: 100%;
        padding: 0 18px;

    }


    .commander-stats-card {
        gap: 12px;
        padding: 8px 0;
    }

    .commander-stats-card-title {
        width: 100%;
        padding: 0;
        font-weight: 450;

    }

    .commander-stats-card-children {
        font-weight: 400;
    }
}